/*
 * @FileDesc: 基础样式模块
 */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: var(--text-color);
    font-size: 16px;
    font-family: var(--base-font);
    line-height: 1.6;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    position: relative;
}
